{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/transform-runtime",
        [
            "@babel/proposal-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "only": ["src/", "test/"]
}
